In [1]:
import numpy as np
import pandas as pd

In [33]:
df=pd.read_csv('./data/stockQuote_all.csv')

In [34]:
#df.SymbolId = df.SymbolId + ' ' + df.SymbolName
df2=df[['QuoteDate','SymbolId', 'ClosePrice']]

In [35]:
# create pivot table
pivot_table=df2.pivot_table('ClosePrice', index='QuoteDate', columns='SymbolId')
pivot_table.head()

SymbolId,00625K,00631L,00632R,00633L,00634R,00635U,00636K,00637L,00638R,00640L,...,9939,9940,9941,9942,9943,9944,9945,9946,9955,9958
QuoteDate,,,,,,,,,,,,,,,,,,,,,
2017/10/11,6.82,35.54,13.31,45.00,7.39,20.16,NaN,16.92,15.25,22.50,...,56.1,33.55,108.0,82.0,50.2,18.15,28.60,10.95,14.00,15.3
2017/10/12,6.83,36.11,13.21,45.13,7.39,20.23,NaN,16.98,NaN,22.63,...,56.1,34.60,106.5,82.8,50.3,18.25,28.80,10.80,14.00,14.5
2017/10/13,6.89,36.09,13.22,45.26,7.38,20.27,NaN,16.98,15.17,22.84,...,56.0,34.60,105.5,85.7,50.3,18.30,28.95,10.75,13.95,15.2
2017/10/16,7.03,36.42,13.15,45.70,7.35,20.34,NaN,17.18,15.10,23.23,...,55.7,34.55,106.5,89.0,50.3,18.35,29.30,10.70,13.90,15.1
2017/10/17,7.00,36.33,13.18,45.74,7.37,20.20,NaN,17.22,15.12,23.16,...,55.8,34.15,105.5,87.0,50.3,18.25,29.15,10.70,14.10,15.0

In [46]:
pivot_table.columns

Index(['00625K', '00631L', '00632R', '00633L', '00634R', '00635U', '00636K',
       '00637L', '00638R', '00640L',
       ...
       '9939', '9940', '9941', '9942', '9943', '9944', '9945', '9946', '9955',
       '9958'],
      dtype='object', name='SymbolId', length=1061)

In [42]:
pivot_table.index

Index(['2017/10/11', '2017/10/12', '2017/10/13', '2017/10/16', '2017/10/17',
       '2017/10/18', '2017/10/19', '2017/10/2', '2017/10/20', '2017/10/23',
       ...
       '2018/6/11', '2018/6/12', '2018/6/13', '2018/6/14', '2018/6/15',
       '2018/6/4', '2018/6/5', '2018/6/6', '2018/6/7', '2018/6/8'],
      dtype='object', name='QuoteDate', length=193)

In [44]:
# 台積電最高價發生的日期
highest_date = pivot_table['2330'].idxmax()
highest_date

'2018/1/23'

In [60]:
pivot_table.loc[highest_date, ['2330']][0]

245.0

In [71]:
highest_list = []
for symbol_id in pivot_table.columns:
    highest_date = pivot_table[symbol_id].idxmax()
    highest_price = pivot_table.loc[highest_date, [symbol_id]][0]
    highest_list += [[symbol_id, highest_date, highest_price]]
#highest_list=pd.DataFrame(highest_list)
highest_list[0]

['00625K', '2018/1/26', 7.77]

In [81]:
df_highest=pd.DataFrame(highest_list, columns=['SymbolId', 'highest_date', 'highest_price'])
df_highest.head()

  SymbolId highest_date  highest_price
0   00625K    2018/1/26           7.77
1   00631L    2018/1/23          39.66
2   00632R    2017/9/26          13.75
3   00633L    2018/1/24          62.45
4   00634R    2017/9/28           7.61

In [75]:
df_highest.shape

(1061, 3)

In [85]:
# find all id with names
id_name = df[['SymbolId', 'SymbolName']].drop_duplicates()
# 依共同的欄位名稱(SymbolId) join
res = pd.merge(id_name, df_highest, on='SymbolId')
res

     SymbolId SymbolName highest_date  highest_price
0          50     元大台灣50    2018/1/23         88.300
1          51    元大中型100     2018/6/7         34.780
2          52       富邦科技    2018/1/23         59.450
3          53       元大電子    2017/11/7         38.920
4          54     元大台商50     2017/9/1         26.210
5          55   元大MSCI金融     2018/6/7         17.840
6          56      元大高股息    2017/9/18         26.800
7          57       富邦摩台    2018/1/23         52.900
8          58       富邦發達     2017/9/4         48.800
9          59       富邦金融     2018/6/7         43.430
10         61      元大寶滬深    2018/1/26         20.830
11       6203   元大MSCI台灣    2018/1/23         40.840
12       6204     永豐臺灣加權     2018/6/7         55.850
13       6205       富邦上証    2017/10/5         34.125
14       6205         詮欣    2017/10/5         34.125
15       6206     元大上證50     2017/9/6         62.045
16       6206         飛捷     2017/9/6         62.045
17       6207       FH滬深    2018/1/26         26.860
18       6208      富邦台50   2017/10/30         50.150
19     00625K     富邦上証+R    2018/1/26          7.770
20     00631L   元大台灣50正2    2018/1/23         39.660
21     00632R   元大台灣50反1    2017/9/26         13.750
22     00633L     富邦上証正2    2018/1/24         62.450
23     00634R     富邦上証反1    2017/9/28          7.610
24     00635U    元大S&P黃金     2017/9/8         21.200
25        636    國泰中國A50    2018/1/24         23.880
26     00637L  元大滬深300正2    2018/1/24         23.690
27     00638R  元大滬深300反1     2017/9/1         15.860
28        639     富邦深100    2018/1/26         12.590
29     00640L     富邦日本正2    2018/1/23         28.340
...       ...        ...          ...            ...
1039     8499       鼎炫KY   2017/11/24        158.000
1040      717    富邦美國特別股   2017/12/11         20.000
1041    2838A      聯邦銀甲特     2018/5/2         51.800
1042     4155         訊映    2017/12/6         35.500
1043     8478       東哥遊艇   2017/12/22         92.500
1044     6591       動力KY    2018/1/23        125.500
1045     4764         雙鍵     2018/1/5         78.400
1046     2939       凱羿KY    2018/1/22        223.000
1047     1760       寶齡富錦     2018/4/9        133.000
1048    2891B      中信金乙特    2018/6/13         61.900
1049     6581         鋼聯     2018/2/1        150.000
1050     4566       時碩工業     2018/2/5         79.200
1051     6625         必應     2018/2/7         86.900
1052      730   富邦臺灣優質高息    2018/3/15         20.250
1053     2630         亞航    2018/2/22         33.300
1054     8497         聯廣    2018/3/23         51.000
1055     1587         吉茂    2018/4/16         23.900
1056     6416       瑞祺電通     2018/6/7        163.000
1057      728    第一金工業30    2018/6/13         19.950
1058   00729R  第一金工業30反1    2018/4/26         20.450
1059      731   FH富時高息低波     2018/6/7         51.500
1060    2881B      富邦金乙特    2018/4/23         60.800
1061     3711      日月光投控    2018/4/30         80.300
1062     6288         聯嘉    2018/5/23         26.000
1063      732  國泰RMB短期報酬    2018/5/23         40.080
1064      733     富邦臺灣中小     2018/6/4         20.940
1065   00738U     元大道瓊白銀    2018/6/15         20.680
1066      735     國泰臺韓科技    2018/6/11         19.790
1067      736     國泰新興市場    2018/6/13         19.760
1068      737  國泰AI+Robo    2018/6/12         23.850

[1069 rows x 4 columns]